<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Angular Routes" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/" />
				</rule>
			</rules>
		</rewrite>
		<staticContent>
			<!-- Adjust cache control for development -->
			<clientCache cacheControlMode="DisableCache" />
		</staticContent>
		<httpProtocol>
			<customHeaders>
				<!-- Adjust cache control for development -->
				<add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
			</customHeaders>
		</httpProtocol>
		<httpErrors errorMode="DetailedLocalOnly" />
	</system.webServer>

</configuration>
