/* App.css */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
@import url(assets/Css/BootstrapAdditionalStyles.css);

:root {
    /* Light theme */
    /* main */

    --main-hover-primary-color: #e1f5ed;
    --main-hover-secondary-color: #9EC8B9;
    --main-focus-primary-color: #44e6a2;
    --main-focus-secondary-color: #44e6a2;
    --main-background-primary-color: #fff;
    --main-background-secondary-color: #fff;
    /* main */
    /* text */

    --text-primary-color: #626262;
    --text-secondary-color: #626262;
    /* text */
    /* button */

    --button-primary-color: #5EBD96;
    --button-secondary-color: #5EBD96;
    --button-hover-primary-color: #4aac83;
    --button-hover-secondary-color: #5EBD96;
    /* button */
    /* input */

    --input-hover-primary-color: #5EBD96;
    --input-hover-secondary-color: #5EBD96;
    --input-focus-primary-color: #44e6a2;
    --input-focus-secondary-color: #44e6a2;
    /* input */
}

/*.dark-theme {*/
    /* Dark theme */
    /* main */

    /*--main-hover-primary-color: #0e3827;
    --main-hover-secondary-color: #21513c;
    --main-focus-primary-color: #44e6a2;
    --main-focus-secondary-color: #44e6a2;
    --main-background-primary-color: #092635;
    --main-background-secondary-color: #fff;*/
    /* main */
    /* text */

    /*--text-primary-color: #fff;
    --text-secondary-color: #626262;*/
    /* text */
    /* button */

    /*--button-primary-color: #5EBD96;
    --button-secondary-color: #5EBD96;
    --button-hover-primary-color: #4aac83;
    --button-hover-secondary-color: #5EBD96;*/
    /* button */
    /* input */

    /*--input-hover-primary-color: #5EBD96;
    --input-hover-secondary-color: #5EBD96;
    --input-focus-primary-color: #44e6a2;
    --input-focus-secondary-color: #44e6a2;*/
    /* input */
/*}
.custom-theme {*/
    /* Light theme */
    /* main */

    /*--main-hover-primary-color: #e1f5ed;
    --main-hover-secondary-color: #9EC8B9;
    --main-focus-primary-color: #44e6a2;
    --main-focus-secondary-color: #44e6a2;
    --main-background-primary-color: #fff;
    --main-background-secondary-color: #fff;*/
    /* main */
    /* text */

    /*--text-primary-color: #626262;
    --text-secondary-color: #626262;*/
    /* text */
    /* button */

    /*--button-primary-color: #5EBD96;
    --button-secondary-color: #5EBD96;
    --button-hover-primary-color: #4aac83;
    --button-hover-secondary-color: #5EBD96;*/
    /* button */
    /* input */

    /*--input-hover-primary-color: #5EBD96;
    --input-hover-secondary-color: #5EBD96;
    --input-focus-primary-color: #44e6a2;
    --input-focus-secondary-color: #44e6a2;*/
    /* input */
/*}*/
#root {
    font-family: 'Rubik', sans-serif;
    width: 100% !important;
    height: 100vh !important;
}


a {
    text-decoration: none;
}

p,a,h1,h2,h3,h4,h5,h6,input,button{
    color:var(--text-primary-color);
}


/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


.MuiDrawer-paperAnchorDockedLeft.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
    background-color:var(--main-background-primary-color);
}