/* App.css */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
@import url(assets/Css/BootstrapAdditionalStyles.css);
@import url(assets/Css/forms.css);
:root {
    --main-text-color: #ff6813;
    --main-background-color: #ff6813;
    --main-hover-color: #000000;
    --main-focus-color: #ff6813;
}

#root{
    font-family: 'Poppins', sans-serif;
    width:100% !important;
    height:100vh !important;
}


a {
    text-decoration: none;
}

/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
