@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item {
    color: var(--main-color) !important;
    font-weight: 600
}

.flex-center {
    @apply flex items-center justify-center;
}

.flex-end {
    @apply flex items-end justify-end;
}

.bg-main-background-color {
    background-color: var(--main-background-color);
}

.main-text-color {
    color: var(--main-color);
}